#addUser {
  flex-basis: 100%;
  max-width: 100%;
}

#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

#todo-list-title {
  font-size: 200%;
  text-align: center;
}

.mat-card {
  background: yellow;
  text-align: center;
}


.mat-expansion-panel-header{
  background: rgba(128, 0, 128, 0.23);
 }
